
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0289bf;
}

p, button, input {
  margin-bottom: 5px;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 2px;
  list-style: none;
}